@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Open+Sans&display=swap");

@import url(“https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css”);

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arimo;
    font-weight: normal;
    font-style: normal;
    color: #5B657E;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.no-scroll {
    overflow: hidden;
}

.custom-btn-google {
    background: radial-gradient(#c5c5c5 0, transparent 0, transparent);
    border: unset;
    outline: unset;
    border-radius: 50%;
    transition: all .3s ease;


    &:hover {
        background: #dddddd;
    }

    &:active {
        background: #c5c5c5;
    }
}

.custom-btn-primary {
    background: $color-primary;
    color: #fff;
    border: unset;
    outline: unset;
    transition: all .3s ease;


    &:hover {
        background: $color-primary-dark;
        color: #fff;
    }

    &:active {
        background: $color-primary-dark;
        color: #fff;
    }
}

.fi {
    line-height: 1;
}