.no-scroll {
  overflow: hidden;
}

.stream {
  background: #0d0022;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stream__header p {
  margin-bottom: 5px;
  margin-top: 2rem;
}

.stream__header h1 {
  font-size: 25px;
}

.stream__body {
  height: 260px;
  width: 450px;
  margin-top: 2rem;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.stream__body video,
.stream__body .stream__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.stream__body .stream__overlay {
  background: #0a006836;
}

.stream__controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.stream__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.stream__name .form-control,
.stream__name .form-control:focus {
  width: 60%;
  background: #222;
  color: #cacaca;
  border: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.stream__name button,
.stream__name button:hover {
  margin-left: 1rem;
  background: #6610f2;
  border: unset;
  outline: unset;
}

.stream__name button:hover {
  background: #4f00ce;
}

.stream__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.stream__media-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.stream__media-control .icon {
  font-size: 22px;
  margin-right: 5px;
}

.stream__media-control input {
  visibility: hidden;
  display: none;
}

.stream__media-control label {
  display: inline-block;
  cursor: pointer;
}

.stream__media-control label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 45px;
  height: 23px;
  background-color: white;
  border-radius: 20px;
}

.stream__media-control label span::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 50.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #292929;
  width: 19px;
  height: 19px;
  border-radius: 50px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.stream__media-control label span.active {
  background: #7c2aff;
}

.stream__media-control label span.active::before {
  left: 22px;
  top: 50.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
}

.stream__media-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stream__media-custom .icon {
  font-size: 22px;
  margin-right: 5px;
}

.stream__media-custom label {
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
}

.settings {
  position: fixed;
  top: 0;
  right: -350px;
  width: 330px;
  height: 100vh;
  overflow-y: auto;
  padding: 2rem;
  z-index: 3;
  background: whitesmoke;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.settings.active {
  top: 0;
  right: 0;
}

.settings__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.settings__header {
  font-size: 1.6rem;
  font-weight: 700;
}

.settings__body {
  margin-top: 2rem;
}

.settings__body .mb-3 label {
  font-weight: 500;
  font-size: 14px;
}

.settings__bottom {
  margin-top: 2rem;
}

.settings__bottom button {
  width: 100%;
}

.settingsOverlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #c4c4c475;
}

.settingsOverlay.active {
  display: block;
}
/*# sourceMappingURL=meet.css.map */